/* Rot logo gray: #a7a9ac */
 
  
  /*  Typography  */
 .rotunda * :root {
    --fs-100: clamp(0.84rem, calc(0.94rem + -0.13vw), 0.91rem);
    --fs-200: clamp(1.09rem, calc(1.08rem + 0.06vw), 1.13rem);
    --fs-300: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
    --fs-400: clamp(1.58rem, calc(1.41rem + 0.83vw), 2rem);
    --fs-500: clamp(1.89rem, calc(1.59rem + 1.51vw), 2.67rem);
    --fs-600: clamp(2.27rem, calc(1.77rem + 2.51vw), 3.55rem);
    --fs-700: clamp(2.72rem, calc(1.94rem + 3.93vw), 4.74rem);
    --fs-800: clamp(3.27rem, calc(2.08rem + 5.95vw), 6.31rem);
   
  }
.main {
    width: min(calc(100% - 2rem), 60rem);
    margin:0 auto;
    color:#414042; 
    font-family: 'Assistant', sans;
    letter-spacing:.05em;
    padding:1em;
    font-size: var(--fs-200);
}
.rotunda * h1 {
      font-family: 'Playfair Display SC', serif;
      color:#757575;
      text-transform:uppercase;
      padding:1em 0;letter-spacing:.3em;
      font-weight:100;
      font-size: var(--fs-400);
      text-align:center;
  }
.rotunda  .h2 {
    font-family: 'Playfair Display SC', serif;
    letter-spacing:.3em;
    font-weight:200;
    color:#757575;
    text-transform:uppercase;
    text-align:center;
    padding:1em 0;
    font-size: var(--fs-300);
}
  
.rotunda h3 {
    font-family: 'Playfair Display SC', serif;
    letter-spacing:.3em;
    font-weight:200;
    color:#757575;
    text-transform:uppercase;
    text-align:center;
    padding:1em 0;
    font-size: var(--fs-200);
}

.rotunda h4 {
    font-family: 'Playfair Display SC', serif;
    letter-spacing:.3em;
    font-weight:200;
    color:#757575;
    text-transform:uppercase;
    text-align:center;
    padding:1em 0;
    font-size: var(--fs-100);
}

.rotunda h5 {
    font-family: 'Playfair Display SC', serif;
    letter-spacing:.3em;
    font-weight:100;
    font-size:.75rem;
    color:#757575;
    text-transform:uppercase;
    text-align:center;
    padding:1em 0;
}

.rotunda h6 {
    font-family: 'Playfair Display SC', serif;
    letter-spacing:.3em;
    font-weight:100;
    color:#757575;
    text-transform:uppercase;
    text-align:center;
    padding:1em 0;
}

 .rotunda a > h4 {
    text-decoration: underline;
    margin-bottom:0;
    padding-bottom:0;
}
  
 .rotunda * a {
      color:#005789;
  }
  
 .rotunda  p {
    font-family: 'Assistant', sans;
      padding:.2em;
      font-size: var(--fs-100);
  }
  
 .rotunda .highlight {
      color:#005789;
      font-weight:600;
  }
  
 
 .rotunda .section {
      margin-bottom:1em;
      display:flex;
      flex-direction:column;
      place-items:center;
  }

 .rotunda .section.alt { background-color: rgb(250 250 250); }
  
  .rotunda .section > img {
      width:150px;
  }

 .rotunda article {
    display:flex;
      flex-direction:column;
      place-items:center;
 }

 .rotunda * nav {
      display:flex;
      flex-direction:row;
      gap:3rem;
      margin-top:2rem;
      font-weight:100;
      font-size: var(--fs-100);
      font-family: 'Playfair Display SC', sans-serif;
      letter-spacing:.3em;
      border-top:1px solid #a7a9ac;
      border-bottom:1px solid #a7a9ac;
      
  }
  .rotunda * nav a {
      color:#757575;
      text-decoration:none;
      padding:.4rem 0;
  }
  
  
.rotunda main {
    width: min(calc(100% - 2rem), 60rem);
    margin:0 auto;
    color:#414042; 
    font-family: 'Assistant', sans;
    letter-spacing:.05em;
    padding:2em;
    font-size: var(--fs-200);
  }
  
  
 .rotunda  section > h3 {
      font-weight:400;
      margin-top:2em;
  }
  
.rotunda .pubLabel { 
    font-family: 'Assistant', sans;
    letter-spacing:.05em;
    font-size: var(--fs-200);
    color:#757575;
    text-transform:uppercase;
 }
  

 .rotunda .bio {
    font-family: 'Assistant', sans;
    font-size: var(--fs-200);
    color:#757575;
 }

 .rotunda .jobTitle {
    font-size:.9rem;
    font-weight: 200;
 }
 .rotunda .phoneNumber {
    font-size:.83rem;
 }
 .rotunda .text{
      line-height:var(--fs-200);
  }
 .rotunda .flexList {
      display:flex;
      flex-direction:column;
      gap:.75rem;
  }
 .rotunda .flexRow {
      display:flex;
      flex-direction:row;
      gap:.01rem;
      align-items:flex-start;
  }
  
 .rotunda .bordered {
      padding-bottom:1rem;
      border-bottom:1px solid #a7a9ac;
  }
  
  .rotunda footer {
      margin: 1em 0;
      padding:1em;
      background:#f7f7f7;
      font-size: var(--fs-100);
      display:flex;
      flex-direction:column;
      gap:1rem;
  }
  
 .rotunda footer img {
      width:30px;
  }
 .rotunda .flexRowFoot {
     display:flex;
     flex-direction:row;
     flex-wrap:wrap;
     gap:.5rem;
     align-items:center;
  }
  
  