.text-box {
    padding:2rem;
    margin:3rem;
    background-color:rgba(0, 0, 0, 0.50);
  }
  .text-box:hover { 
    background-color:rgba(0, 0, 0, .75);
}

#book {
    background-image:url("https://www.upress.virginia.edu/sites/default/files/covers/5626.jpg");
      background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
  }
  #rotunda { 
    background-image:url("https://www.upress.virginia.edu/sites/default/files/btwashington.jpg");
    background-position: center;
      background-repeat:no-repeat;
    background-size: fit;
  }
  

@media (min-width: 800px) {

    #banner {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-areas:
      "left topblock topblock"
      "left bottomL bottomR"
  }
   
  
  #book  div.text-box {
    position:relative;
    top:50%;
  }
  
  
  #book {
    grid-area:left;
    background-image:url("https://www.upress.virginia.edu/sites/default/files/covers/5626.jpg");
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
  }
  #rotunda { 
  grid-area: topblock;
    background-image:url("https://www.upress.virginia.edu/sites/default/files/btwashington.jpg");
    background-position: center;
      background-repeat:no-repeat;
    background-size: cover;
  }
  
  #newsa {
    grid-area: bottomL;
    background-image:url("../../static/bemiss_blue.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover; 
  }
  
  #newsb {
    grid-area: bottomR;
    background-image:url("https://www.upress.virginia.edu/sites/default/files/UVA_Press_Presents_logo.png");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover 
  }
}