p {padding:0 1rem 1rem 1rem; line-height: 1.6rem; font-weight: 300;}
a:hover { text-decoration: underline; color:#D1D5DB
;}
h4 {padding-top:1rem; padding-bottom:1rem;}
.greige {background-color: #f7f7f7;}

  
