.bm-item {
    text-align:left;  
    display: inline-block;
    text-decoration: none;
    margin-bottom: 2vh;
    color: rgb(31, 29, 29);
    transition: color 0.2s;
    text-transform: uppercase;
}
.bm-item:hover {
    color: grey;
}

.menu-text {
    position: fixed;
    width: 35px;
    height: 30px;
    right: 10vw;
    top: 7vh;
    font-weight:100px;
}

.search-icon {
    position: fixed;
    width: 20px;
    height: 20px;
    right: 15vw;
    top: 7.5vh;
    font-weight:100px !important;
}
.bm-burger-button {
    position: fixed;
    width: 35px;
    height: 30px;
    right: 5vw;
    top: 7vh;
}
.bm-burger-bars {
     background: #7e7f80; 
    /* background:white; */
}
.bm-cross-button {
    height: 30px;
    width: 15px;
}
.bm-cross {
    background: #bdc3c7;
}
.bm-menu {
    /* background: #1F2937; */
    background:#f7f7f7;
    padding: 2em 1.5em 0;
    font-size: 1.5em;
}

.bm-morph-shape {
    fill: #373a47;
}
.bm-item-list {
    color: #b8b7ad;
}

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.burger-menu > p { padding-right: 80px;}
@media (max-width: 750px) {
    .burger-menu > p {
        display:none;
    }
  }
 
  
 /* Tab content - closed */
 .tab-content {
    max-height: 0;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
    }
    /* :checked - resize to full height */
    .tab input:checked ~ .tab-content {
    max-height: 100vh;
    }
    /* Label formatting when open */
    .tab input:checked + label{
    /*@apply text-xl p-5 border-l-2 border-indigo-500 bg-gray-100 text-indigo*/
    font-size: 1.5rem; /*.text-lg*/
    padding: 1rem; /*.p-5*/
   
    }
    /* Icon */
    .tab label::after {
    float:right;
    right: 0;
    top: 0;
    display: block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5;
    font-size: 1rem;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    }
    /* Icon formatting - closed */
    .tab input[type=checkbox] + label::after {
    content: "+";
    font-weight:bold; /*.font-bold*/
   
    }
    .tab input[type=radio] + label::after {
    content: "\25BE";
    font-weight:bold; /*.font-bold*/
 
    }
    /* Icon formatting - open */
    .tab input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
    /*background-color: #6574cd; /*.bg-indigo*/
    color: #f8fafc; /*.text-grey-lightest*/
    }
    .tab input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
    /*background-color: #6574cd; /*.bg-indigo*/
    color: #f8fafc; /*.text-grey-lightest*/
    }