@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-5xl;
  }
  h3 {
    @apply text-4xl;
  }
  h4 {
    @apply text-3xl;
  }
  h5 {
    @apply text-2xl;
  }
  h6 {
    @apply text-xl;
  }
}

.title {text-align:left;}
table.tiers td {padding-left:1rem; padding-bottom:1rem;}
p {padding:0 1rem 1rem 1rem; font-family: "Crimson Text";}
.cms ul {padding:1em; list-style:none;}
.cms ul li:first-child {padding-top:0;}
.cms ul li {padding-left:2em; padding-top:1em;}
.cms strong {font-weight: bolder;}
.dropCap p:first-child:first-letter {
  color: rgb(29, 28, 28);
  font-family: "Crimson Text";
  float:left;
  font-size: 2.5rem;
  line-height: 2rem;
  padding-top:4px;
  padding-right: 4px;
}
p.dropCap:first-child:first-letter {
  color: rgb(29, 28, 28);
  font-family: "Crimson Text";
  float:left;
  font-size: 2.5rem;
  line-height: 2rem;
  padding-top:4px;
  padding-right: 4px;
}
a:hover { text-decoration: underline;}
article ul {padding:1em; list-style: disc;}
button[aria-selected="false"]{
  background-color: #f7f7f7f7;
}
div[aria-expanded="false"]{
  background-color: #f7f7f7f7;
}
.light {font-weight: 200;}
.quoted {position:relative;}
.quoted::before {
  float:left;
  font-size: 4rem;
  line-height: 1rem;
  padding-right: 4px;
  content: "\201C";
  font-family: "Crimson Text";
  color:darkgrey;
}
.quoted::after {
  font-size: 3em;
  position:absolute;
  bottom:1rem;
  content: "\201E";
  left:50%;
  color:darkgrey;
  font-family: "Crimson Text";
}