.ais-SearchBox { margin: 1em 0; }
.ais-SearchBox-input { padding-left:1em; min-width: 50%;  min-height: 2rem; background-color:#F9FAFB;}
.ais-Pagination-list {margin-left:25%;}
.ais-Pagination-item {display: inline; padding:0 1em;}
.ais-RefinementList-labelText {padding-left:1em; font-size:.9rem;}
.ais-RefinementList-count {margin-left:.5em; padding:0 .5rem; color:#9CA3AF; font-size:.75rem;}
.ais-Stats {padding-bottom:.8rem;}
.ais-SearchBox-submitIcon {width:15px; height: 15px;}
.ais-SearchBox-reset {margin-left:1em;}